<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registro de contas</title>
</head>

<body>
    <h1>Conta de usuarios cadastrados:</h1>
    <ul>
        <% users.forEach(user=> { %>
            <li>
                <%= `Usuario: ${user.email} Senha: ${user.password}` %>
            </li>
            <% }) %>
    </ul>

</html>